---
layout: page
---

<p>VDS @IEEE VIS 2022</p>
<p>Registration at <a href="http://ieeevis.org/year/2022/info/registration/conference-registration"> http://ieeevis.org/year/2022/info/registration/conference-registration </a>.</p>


<span class="time">Sun. Oct 16, 2022, 9am - 12pm (CDT), 2022</span>

<p>VDS @IEEE VIS 2022 Coming Soon ~</p>

<div style="color: rgb(179 174 174);text-decoration: line-through;">
<p>VDS @ KDD 2022 (Past)</p>
<p>Conference registration at <a href="https://www.kdd.org/kdd2022/registration.html">https://www.kdd.org/kdd2022/registration.html</a>.</p>


<span class="time">Sun. Aug 14, 2022, 1pm - 4:10pm (EDT)</span>
<div class="talk">
     <span class="time">1:00pm~1:10pm EDT</span><div class="ttitle">Opening</div>
     <span class="time">1:10pm~2:10pm EDT</span><div class="ttitle"> Keynote</div>
     {% include invited_talk.html time="1:10pm~2:10pm EDT" key="kalyan" %}
</div>

<div class="talk">
     <span class="time">2:10pm~2:20pm</span><div class="ttitle">Break</div>
</div>

<div class="talk">
     <span class="time">2:20pm~3:00pm EDT</span><div class="ttitle"> Paper Session</div>
     {% include paper.html time="2:20pm~2:40pm EDT" key="1" %}
     {% include paper.html time="2:40pm~3:00pm EDT" key="2" %}
</div>

<div class="talk">
     <span class="time">3:00pm~3:10pm EDT</span><div class="ttitle">Break</div>
</div>

<div class="talk">
     <span class="time">3:10pm~4:10pm EDT</span><div class="ttitle"> Closing Keynote</div>
     {% include invited_talk.html time="3:10pm~4:10pm EDT" key="leo" %}
</div> 
</div>