---
layout: page
---

<p>Coming soon!</p>


<!-- <p>Videos for virtual sessions available at <a href="https://virtual.ieeevis.org/session_a-vds.html">https://virtual.ieeevis.org/session_a-vds.html</a>.</p>
<p>Conference registration at <a href="http://ieeevis.org/year/2020/info/registration/conference-registration">http://ieeevis.org/year/2020/info/registration/conference-registration</a>.</p>


<span class="time">Monday, October 26, 2020</span>
<div class="talk">
     <span class="time">8:00-9:30</span><div class="ttitle">Session 1: Keynote and Three Papers</div>
     {% include invited_talk.html time="8:00-8:45" key="finale" %}
     {% include paper.html time="8:45-9:00" key="1" %}
     {% include paper.html time="9:00-9:15" key="2" %}
     {% include paper.html time="9:15-9:30" key="3" %}

</div>

<div class="talk">
     <span class="time">9:30-10:00</span><div class="ttitle">Break</div>
</div>


<div class="talk">
     <span class="time">10:00-11:30</span><div class="ttitle">Session 2: Keynote and Three Papers</div>
     {% include invited_talk.html time="10:00-10:45" key="hullman" %}
     {% include paper.html time="10:45-11:00" key="4" %}
     {% include paper.html time="11:00-11:15" key="5" %}
     {% include paper.html time="11:15-11:30" key="6" %}

</div> -->


